body {
	background-image: url("../images/doodles.png");
}
.btn {
	margin-right: 10px;
}

form, input {
	margin-right: 10px;
}

#feeling-input {
	margin-top: 20px;
	margin-bottom: 10px;
}
img {
	margin: 10px;

}
#gifPanel {
	border: solid #1693A5 2px;
}
#jumbo {
	background-color: #C4EDE4;
	border: none;
}
#text {
	color: #1693A5;
}
#panelBody {
	background-color: #C4EDE4;
	border: 0;
	box-shadow: none;
	border-bottom: solid #1693A5 5px;
}
#rating {
	margin: 10px;
	color: white;
}
